.container {
  height: 3.375rem;

  display: flex;
  gap: 0.5rem;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    margin-bottom: 5.5rem;
  }

  input {
    flex: 1;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    background: var(--gray-500);
    padding: 1rem;
    color: var(--gray-300);
    outline: 0;

    &:focus {
      border: 2px solid var(--purple);
      color: var(--gray-100);
    }
  }

  button {
    line-height: 0;
    border: 0;
    padding: 1rem;
    border-radius: 8px;

    font-size: 0.875rem;
    font-weight: bold;
    color: var(--gray-100);
    background: var(--blue-dark);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition: background-color 0.2s;

    &:hover {
      background-color: var(--blue);
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
